/* ==================== ==================== ==================== */
/* Default Area CSS */
/* ==================== ==================== ==================== */
body {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    margin: 0 auto;
}

.base-wrap {
    background: linear-gradient(#2E3192, #1BFFFF);
    flex-direction: column;
    align-items: center;
    display: flex;
    height: 900px;
    width: 1000px;
}

.logo {
    height: 10%;
    width: 30%;
}





/* ==================== ==================== ==================== */
/* Loading Area */
/* ==================== ==================== ==================== */
.level-wrap {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
}

.level-btn {
    padding-right: 20px;
    padding-left: 20px;
    color: #EDEDED;
    font-size: 20px;
    cursor: pointer;
}

.level-txt {
    font-size: 20px;
    color: #EDEDED;
}

.level-btn:active {
    color: grey;
}

#levelDn { 
    opacity: 0; 
    cursor: default; 
}





/* ==================== ==================== ==================== */
/* Table Area */
/* ==================== ==================== ==================== */
.table-wrap {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px;
    height: 100%;
    width: 100%;
}


td {
    height: 100px;
    width: 100px;
}

.table-cell {
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
}

.beaker {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    flex-direction: column;
    align-items: flex-end;
    display: flex;
    height: 100%;
    width: 100%;
}

.requid_1 { background: linear-gradient(to right, #D4145A, #FBB03B); }
.requid_2 { background: linear-gradient(to right, #009245, #FCEE21); }
.requid_3 { background: linear-gradient(to right, #FFECD2, #FCB69F); }
.requid_4 { background: linear-gradient(to right, #02AABD, #00CDAC); }
.requid_5 { background: linear-gradient(to right, #662D8C, #ED1E79); }





/* ==================== ==================== ==================== */
/* Loading Area */
/* ==================== ==================== ==================== */
#loading-wrap {
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    position: absolute;
    display: none;
    height: 900px;
    width: 1000px;
}

.loading-bar {
    border: 1px solid white;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 100px;
    width: 100px;
    -webkit-animation: loadingBar 1s linear infinite;
}

.loading-bar > div {
    color: white;
    -webkit-animation: loadingTxt 1s linear infinite;
}

@-webkit-keyframes loadingBar {
    0%   { border-width: 1px; }
    50%  { border-width: 20px;}
    100% { border-width: 1px; }
}

@-webkit-keyframes loadingTxt {
    0%   { color: grey; }
    50%  { color: white;}
    100% { color: grey; }
}