/* ==================== ==================== ==================== */
/* Default Area CSS */
/* ==================== ==================== ==================== */
body {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    margin: 0 auto;
}

.base-wrap {
    background: linear-gradient(#2E3192, #1BFFFF);
    flex-direction: column;
    align-items: center;
    position: relative;
    display: flex;
    height: 900px;
    width: 1300px;
}

.logo {
    height: 10%;
    width: 30%;
}





/* ==================== ==================== ==================== */
/* Level Area */
/* ==================== ==================== ==================== */
.level-wrap {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
}

.level-btn {
    padding-right: 20px;
    padding-left: 20px;
    color: #EDEDED;
    font-size: 20px;
    cursor: pointer;
}

.level-txt {
    font-size: 20px;
    color: #EDEDED;
}

.level-btn:active {
    color: grey;
}

#levelDn { 
    opacity: 0; 
    cursor: default; 
}





/* ==================== ==================== ==================== */
/* Table Area */
/* ==================== ==================== ==================== */
.table-wrap {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px;
    height: 100%;
    width: 100%;
}


td {
    height: 100px;
    width: 100px;
}

.table-cell {
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    margin: 10px;
}

.beaker {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    flex-direction: column-reverse;
    align-items: flex-end;
    display: flex;
    height: 100%;
    width: 100%;
}

.requid_1 { background: linear-gradient(#D4145A, #FBB03B) repeat-x; }
.requid_2 { background: linear-gradient(#009245, #FCEE21) repeat-x; }
.requid_3 { background: linear-gradient(#FFECD2, #FCB69F) repeat-x; }
.requid_4 { background: linear-gradient(#02AABD, #00CDAC) repeat-x; }
.requid_5 { background: linear-gradient(#662D8C, #ED1E79) repeat-x; }

.p-requid { 
    position: relative; 
    overflow: hidden;
    width: 100%;
}

.c-requid {
    -webkit-animation: flow 5s infinite ease;
    position: absolute;
    height: 40px;
    width: 100%;
}

@-webkit-keyframes flow {
    0%   { margin-top: 0; }
    25%  { margin-top: -10px; }
    50%  { margin-top: 0px; }
    75%  { margin-top: -10px; }
    100% { margin-top: 0;}
}

.active { -webkit-animation: twinkle 1s infinite ease; }
.impossible { -webkit-animation: impossible 0.3s infinite ease; }

@-webkit-keyframes impossible {
    0%    { margin-left: 10px; margin-right: 10px; }
    25%   { margin-left: 5px; margin-right: 15px; }
    50%   { margin-left: 15px; margin-right: 5px; }
    75%   { margin-left: 5px; margin-right: 15px; }
    100%  { margin-left: 10px; margin-right: 10px; }
}

@-webkit-keyframes twinkle {
    0%    { box-shadow: 5px 5px 5px 0px; }
    50%   { box-shadow: 0px 0px 0px 0px; }
    100%  { box-shadow: 5px 5px 5px 0px; }
}





/* ==================== ==================== ==================== */
/* Item Area */
/* ==================== ==================== ==================== */
.item-wrap {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    display: flex;
    height: 900px;
    width: 100px;
    right: 0;
}

.item-inner {
    height: 100px;
    width: 100px;
}





/* ==================== ==================== ==================== */
/* Loading Area */
/* ==================== ==================== ==================== */
#loading-wrap {
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    position: absolute;
    display: none;
    height: 900px;
    width: 1300px;
}

.loading-bar {
    border: 1px solid white;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 100px;
    width: 100px;
    -webkit-animation: loadingBar 1s linear infinite;
}

.loading-bar > div {
    color: white;
    -webkit-animation: loadingTxt 1s linear infinite;
}

@-webkit-keyframes loadingBar {
    0%   { border-width: 1px; }
    50%  { border-width: 20px;}
    100% { border-width: 1px; }
}

@-webkit-keyframes loadingTxt {
    0%   { color: grey; }
    50%  { color: white;}
    100% { color: grey; }
}





/* ==================== ==================== ==================== */
/* Message Area */
/* ==================== ==================== ==================== */
#message-wrap {
    background: rgba(0, 0, 0, 0.5);
    -webkit-animation: show 1s ease;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: none;
    height: 900px;
    width: 1300px;
}

@-webkit-keyframes show {
    0%      { opacity: 0; }
    100%    { opacity: 1; }
}

.message-inner {
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    background: #EDEDED;
    display: flex;
    height: 300px;
    width: 400px;
}

.message-inner > img {
    height: 200px;
    width: 200px;
}

.next-btn {
    background: linear-gradient(to right, #2E3192, #1BFFFF);
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    height: 80px;
    width: 350px;
}

#btnTxt {
    font-weight: bold;
    font-size: 30px;
    color: #EDEDED;
}